.index_focus_box {
	BORDER-RIGHT: #010101 0px solid; BORDER-TOP: #010101 0px solid; BACKGROUND: #fff; BORDER-LEFT: #010101 0px solid; WIDTH: 780px; BORDER-BOTTOM: #010101 0px solid; POSITION: relative; HEIGHT: 360px
}
.index_focus_box DIV.img {
	Z-INDEX: 10; LEFT: 0px; WIDTH: 780px; POSITION: absolute; TOP: 0px; HEIGHT: 360px
}
.index_focus_box DIV.loding {
	Z-INDEX: 40; BACKGROUND: url(../images/new_homepage/loding.gif) #fafafa no-repeat center 155px; LEFT: 0px; WIDTH: 780px; POSITION: absolute; TOP: 0px; HEIGHT: 360px
}

.index_focus_box UL.title {
	Z-INDEX: 30; WIDTH: 780px; POSITION: absolute; TOP: 266px; HEIGHT: 34px
}
.index_focus_box UL.title LI {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 1px; WIDTH: 150px; HEIGHT: 34px
}
.index_focus_box UL.title LI A {
	DISPLAY: block; COLOR: #fffdfe; LINE-HEIGHT: 30px; HEIGHT: 34px; TEXT-ALIGN: center
}
.index_focus_box UL.title LI A:hover {
	BACKGROUND: url(../images/new_homepage/arrow_focus.gif) no-repeat center 26px
}
.index_focus_box UL.title LI.on A {
	BACKGROUND: url(../images/new_homepage/arrow_focus.gif) no-repeat center 26px
}
.index_focus_sidebar {
	WIDTH: 220px
}
